web/api/src/main/resources/leap/web/api/apis.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="http://www.leapframework.org/schema/webapi"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://www.leapframework.org/schema/webapi" elementFormDefault="qualified">

    <xsd:element name="apis">
        <xsd:complexType>
            <xsd:choice minOccurs="0" maxOccurs="unbounded">
                <xsd:element ref="import" />
                <xsd:element ref="global" />
                <xsd:element ref="api"/>
                <xsd:any namespace="##other" processContents="strict" minOccurs="0" maxOccurs="unbounded" />
            </xsd:choice>
            <xsd:anyAttribute namespace="##other" processContents="lax" />
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="import">
        <xsd:annotation>
            <xsd:documentation><![CDATA[
                Specifies an XML config definition resource to import.
            ]]></xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:restriction base="xsd:anyType">
                    <xsd:attribute name="resource" type="xsd:string" use="required">
                        <xsd:annotation>
                            <xsd:documentation><![CDATA[
                                The relative resource location of the XML file to import,
                                for edxample "myImport.xml" or "includes/myImport.xml" or "../myImport.xml".
                            ]]></xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="check-existence" type="xsd:boolean">
                        <xsd:annotation>
                            <xsd:documentation><![CDATA[
                                default value is true, set the value to false will skip this importing if resource not exists.
                            ]]></xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="default-override" type="xsd:boolean">
                        <xsd:annotation>
                            <xsd:documentation><![CDATA[
                                set the default override attribute value defined in <command override="true|false" ../> element.
                            ]]></xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                </xsd:restriction>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="global">
        <xsd:annotation>
            <xsd:documentation>
                The configuration for all api.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:choice minOccurs="0" maxOccurs="unbounded">
                <xsd:element name="oauth"     type="oauth-base" minOccurs="0" maxOccurs="1"/>
                <xsd:element name="responses" type="responses"  minOccurs="0" maxOccurs="1"/>
                <xsd:element name="params"    type="parameters" minOccurs="0" maxOccurs="1"/>
                <xsd:element name="models"    type="models"     minOccurs="0" maxOccurs="1"/>
            </xsd:choice>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="api">
        <xsd:annotation>
            <xsd:documentation>
                The configuration for api.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:choice minOccurs="0" maxOccurs="unbounded">
                <xsd:element name="version" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                <xsd:element name="title" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                <xsd:element name="summary" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                <xsd:element name="desc" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                <xsd:element name="restd" type="restd" minOccurs="0" maxOccurs="1"/>
                <xsd:element name="produces" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                <xsd:element name="consumes" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                <xsd:element name="protocols" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                <xsd:element name="responses" type="responses"  minOccurs="0" maxOccurs="1"/>
                <xsd:element name="models" type="models"  minOccurs="0" maxOccurs="1"/>
                <xsd:element name="cors" type="cors" minOccurs="0" maxOccurs="1"/>
                <xsd:element name="oauth" type="oauth" minOccurs="0" maxOccurs="1"/>
                <xsd:element name="max-page-size" type="xsd:integer" minOccurs="0" maxOccurs="1"/>
                <xsd:element name="default-page-size" type="xsd:integer" minOccurs="0" maxOccurs="1"/>
                <xsd:element name="permissions" type="permissions"  minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element name="resource-permissions" type="resource-permissions" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element name="tags" type="tags" minOccurs="0" maxOccurs="1"/>
                <xsd:any namespace="##other" processContents="strict" minOccurs="0" maxOccurs="unbounded" />
            </xsd:choice>
            <xsd:attribute name="name"              type="xsd:string" use="required"/>
            <xsd:attribute name="base-path"         type="xsd:string" use="optional"/>
            <xsd:attribute name="base-package"      type="xsd:string" use="optional"/>
            <xsd:attribute name="default-anonymous" type="xsd:boolean" use="optional"/>
            <xsd:attribute name="restd-enabled"     type="xsd:boolean" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        Enables RESTful data api.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="restd-data-source" type="xsd:string" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        Sets the data source name for RESTful data api, keep empty use 'default' data source.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="unique-operation-id" type="xsd:boolean" use="optional"/>
        </xsd:complexType>
    </xsd:element>

    <xsd:complexType name="restd">
        <xsd:annotation>
            <xsd:documentation>
                The configuration for restd api.
            </xsd:documentation>
        </xsd:annotation>
            <xsd:choice minOccurs="0" maxOccurs="unbounded">
                <xsd:element name="included-models" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                <xsd:element name="excluded-models" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                <xsd:element name="readonly-models" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                <xsd:element name="model" type="restd-model" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element name="sql-operation" type="sql-operation" minOccurs="0" maxOccurs="unbounded"/>
            </xsd:choice>
            <xsd:attribute name="enabled"     type="xsd:boolean" use="optional" default="true"/>
            <xsd:attribute name="data-source" type="xsd:string"  use="optional" default="default"/>
            <xsd:attribute name="readonly"    type="xsd:boolean" use="optional" default="false"/>
    </xsd:complexType>

    <xsd:complexType name="restd-model">
        <xsd:annotation>
            <xsd:documentation>
                The configuration for restd model.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:choice minOccurs="0" maxOccurs="unbounded">
            <xsd:element name="sql-operation" type="sql-operation" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:choice>
        <xsd:attribute name="name"   type="xsd:string"  use="required"/>
        <xsd:attribute name="read"   type="xsd:boolean" use="optional" default="true">
            <xsd:annotation>
                <xsd:documentation>
                    'read' includes 'find' and 'query' operations.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="write"  type="xsd:boolean" use="optional" default="true">
            <xsd:annotation>
                <xsd:documentation>
                    'write' includes 'create', 'update' and 'delete' operations.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="create"    type="xsd:boolean" use="optional" default="true"/>
        <xsd:attribute name="update"    type="xsd:boolean" use="optional" default="true"/>
        <xsd:attribute name="delete"    type="xsd:boolean" use="optional" default="true"/>
        <xsd:attribute name="find"      type="xsd:boolean" use="optional" default="true"/>
        <xsd:attribute name="query"     type="xsd:boolean" use="optional" default="true"/>
        <xsd:attribute name="anonymous" type="xsd:boolean" use="optional"/>
    </xsd:complexType>

    <xsd:complexType name="sql-operation">
        <xsd:annotation>
            <xsd:documentation>
                The configuration for sql operation.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="name" type="xsd:string" use="required">
                    <xsd:annotation>
                        <xsd:documentation>
                            The name of operation.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="sql-key"  type="xsd:string" use="optional">
                    <xsd:annotation>
                        <xsd:documentation>
                            The key of sql command.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>

    <xsd:complexType name="cors">
        <xsd:attribute name="enabled" default="true" type="xsd:boolean" use="optional"/>
    </xsd:complexType>

    <xsd:complexType name="oauth-base">
        <xsd:sequence>
            <xsd:element name="authz-url" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="token-url" type="xsd:string" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
        <xsd:attribute name="enabled" default="true" type="xsd:boolean" use="optional"/>
        <xsd:attribute name="flow" default="implicit" type="xsd:string" use="optional"/>
    </xsd:complexType>

    <xsd:complexType name="oauth">
        <xsd:complexContent>
            <xsd:extension base="oauth-base">
                <xsd:sequence>
                    <xsd:element name="scope" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="paths">
        <xsd:sequence minOccurs="0" maxOccurs="unbounded">
            <xsd:element name="path" type="path"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="path">
        <xsd:choice minOccurs="0" maxOccurs="1">
            <xsd:element name="get"     type="operation"/>
            <xsd:element name="post"    type="operation"/>
            <xsd:element name="delete"  type="operation"/>
            <xsd:element name="put"     type="operation"/>
            <xsd:element name="patch"   type="operation"/>
            <xsd:element name="options" type="operation"/>
            <xsd:element name="head"    type="operation"/>
            <xsd:element name="trace"   type="operation"/>
        </xsd:choice>
        <xsd:attribute name="uri-template" type="xsd:string" use="required"/>
    </xsd:complexType>

    <xsd:complexType name="operation">
        <xsd:sequence>
            <xsd:element name="summary" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="desc" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="params" type="parameters" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="responses" type="responses" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="cors" type="cors" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="oauth" type="oauth" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="parameters">
        <xsd:sequence minOccurs="0" maxOccurs="unbounded">
            <xsd:element name="param" type="parameter"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="parameter">
        <xsd:sequence>
            <xsd:element name="title"   type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="summary" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="desc"    type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="properties" type="properties" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
        <xsd:attribute name="class"    type="xsd:string" use="required"/>
        <xsd:attribute name="name"     type="xsd:string" use="optional"/>
        <xsd:attribute name="title"    type="xsd:string" use="optional"/>
        <xsd:attribute name="summary"  type="xsd:string" use="optional"/>
        <xsd:attribute name="desc"     type="xsd:string" use="optional"/>
        <xsd:attribute name="override" type="xsd:boolean" use="optional"/>
    </xsd:complexType>

    <xsd:complexType name="models">
        <xsd:sequence minOccurs="0" maxOccurs="unbounded">
            <xsd:element name="model" type="model"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="model">
        <xsd:sequence>
            <xsd:element name="properties" type="properties" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
        <xsd:attribute name="class" type="xsd:string" use="optional"/>
        <xsd:attribute name="name"  type="xsd:string" use="optional"/>
    </xsd:complexType>

    <xsd:complexType name="properties">
        <xsd:sequence>
            <xsd:element name="property" type="property" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="property">
        <xsd:sequence>
            <xsd:element name="title"   type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="summary" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="desc"    type="xsd:string" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
        <xsd:attribute name="name"    type="xsd:string" use="required"/>
        <xsd:attribute name="title"   type="xsd:string" use="optional"/>
        <xsd:attribute name="summary" type="xsd:string" use="optional"/>
        <xsd:attribute name="desc"    type="xsd:string" use="optional"/>
    </xsd:complexType>

    <xsd:complexType name="responses">
        <xsd:sequence>
            <xsd:element name="response" type="response" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="response">
        <xsd:sequence>
            <xsd:element name="desc" type="xsd:string" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
        <xsd:attribute name="name"   type="xsd:string"  use="optional"/>
        <xsd:attribute name="status" type="xsd:integer" use="required"/>
        <xsd:attribute name="type"   type="xsd:string"  use="optional"/>
        <xsd:attribute name="desc"   type="xsd:string"  use="optional"/>
    </xsd:complexType>

    <xsd:complexType name="permissions">
        <xsd:complexContent>
            <xsd:extension base="xsd:string">
                <xsd:sequence>
                    <xsd:element name="permission" type="permission" minOccurs="0" maxOccurs="unbounded"/>
                    <xsd:any minOccurs="0" maxOccurs="unbounded" processContents="skip"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="permission">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="value" type="xsd:string" use="required"/>
                <xsd:attribute name="desc"  type="xsd:string" use="optional"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>

    <xsd:complexType name="resource-permissions">
        <xsd:choice minOccurs="0" maxOccurs="unbounded">
            <xsd:element name="resource"   type="resource"  minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="resources"  type="resources" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="permission" type="resource-permission" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:choice>

    </xsd:complexType>

    <xsd:complexType name="resource">
        <xsd:attribute name="class" use="required"/>
    </xsd:complexType>

    <xsd:complexType name="resources">
        <xsd:attribute name="package" use="required"/>
    </xsd:complexType>

    <xsd:complexType name="resource-permission">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="value"        type="xsd:string"  use="required"/>
                <xsd:attribute name="http-methods" type="xsd:string"  use="optional"/>
                <xsd:attribute name="path-pattern" type="xsd:string"  use="optional"/>
                <xsd:attribute name="default"      type="xsd:boolean" use="optional"/>
                <xsd:attribute name="desc"         type="xsd:string"  use="optional"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>

    <xsd:complexType name="tags">
        <xsd:sequence minOccurs="0" maxOccurs="unbounded">
            <xsd:element name="tag" type="tag"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="tag">
        <xsd:attribute name="name" type="xsd:string" use="required"/>
        <xsd:attribute name="desc" type="xsd:string" use="optional"/>
    </xsd:complexType>

</xsd:schema>