core/src/main/resources/leap/core/beans.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- 
	This xml is a modified copy of spring-beans-3.2.xsd from the spring framework under Apache License 2.0.
-->
<xsd:schema xmlns="http://www.leapframework.org/schema/beans" 
            xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
            targetNamespace="http://www.leapframework.org/schema/beans">

    <xsd:import namespace="http://www.w3.org/XML/1998/namespace" />

    <!-- base types -->
    <xsd:complexType name="identifiedType" abstract="true">
        <xsd:attribute name="id" type="xsd:string"/>
    </xsd:complexType>

	<!-- Top-level <beans> tag -->
	<xsd:element name="beans">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="description" minOccurs="0"/>
				<xsd:choice minOccurs="0" maxOccurs="unbounded">
					<xsd:element ref="import"/>
					<xsd:element ref="alias"/>
                    <xsd:element ref="init"/>
					<xsd:element ref="bean"/>
					<xsd:element ref="beans"/>
					<xsd:element ref="bean-list"/>
					<xsd:element ref="util-list"/>
					<xsd:element ref="util-set"/>
					<xsd:element ref="util-map"/>
					<xsd:any namespace="##other" processContents="strict" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:choice>
                <!-- 
				<xsd:element ref="beans" minOccurs="0" maxOccurs="unbounded"/>
                -->
			</xsd:sequence>
			<xsd:attribute name="if" use="optional" type="xsd:string"/>
			<xsd:attribute name="if-profile" use="optional" type="xsd:string"/>
			<xsd:attribute name="if-class-present" use="optional" type="xsd:string"/>
			<xsd:attribute name="if-servlet-environment" use="optional" type="xsd:boolean"/>
			<xsd:attribute name="default-lazy-init" default="true" type="xsd:boolean"/>

			<xsd:anyAttribute namespace="##other" processContents="lax"/>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="description">
		<xsd:complexType mixed="true">
			<xsd:choice minOccurs="0" maxOccurs="unbounded"/>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="import">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="xsd:anyType">
					<xsd:attribute name="resource" type="xsd:string" use="required"/>
                    <xsd:attribute name="check-existence" type="xsd:boolean"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
    
	<xsd:element name="alias">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="xsd:anyType">
					<xsd:attribute name="id" type="xsd:string"/>
					<xsd:attribute name="type" type="xsd:string"/>
					<xsd:attribute name="name" type="xsd:string"/>
					<xsd:attribute name="alias" type="xsd:string" use="required"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
    
	<xsd:group name="beanElements">
		<xsd:sequence>
			<xsd:element ref="description" minOccurs="0"/>
			<xsd:choice minOccurs="0" maxOccurs="unbounded">
                <xsd:element name="additional-type-def" type="typeDefType"/>
                <xsd:element name="register-bean-factory" type="factoryDefType"/>
				<xsd:element ref="constructor-arg"/>
				<xsd:element ref="property"/>
				<xsd:element ref="qualifier"/>
				<xsd:element ref="invoke"/>
				<xsd:any namespace="##other" processContents="strict" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:choice>
		</xsd:sequence>
	</xsd:group>

	<xsd:attributeGroup name="beanAttributes">
        <xsd:attribute name="qualifier" type="xsd:string"></xsd:attribute>
        <xsd:attribute name="name" type="xsd:string"/>
	    <xsd:attribute name="type" type="xsd:string"></xsd:attribute>
	    <xsd:attribute name="class" type="xsd:string"/>
	    <xsd:attribute name="if" type="xsd:string"></xsd:attribute>
	    <xsd:attribute name="if-profile" use="optional" type="xsd:string"/>
	    <xsd:attribute name="singleton" type="xsd:boolean"/>
	    <xsd:attribute name="lazy-init" default="default" type="defaultable-boolean"/>
	    <xsd:attribute name="primary" type="xsd:boolean" use="optional"/>
        <xsd:attribute name="override" type="xsd:boolean" use="optional"/>
	    <xsd:attribute name="init-method" type="xsd:string"/>
        <xsd:attribute name="destroy-method" type="xsd:string"/>
        <xsd:attribute name="sort-order" type="xsd:integer" default="100"/>
	    <xsd:anyAttribute namespace="##other" processContents="lax" />
	</xsd:attributeGroup>

    <!-- not in spring framework -->
    <xsd:element name="init">
        <xsd:annotation>
            <xsd:documentation><![CDATA[
                Defines a class to init static.
            ]]></xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="class"       type="xsd:string" use="required"></xsd:attribute>
            <xsd:attribute name="init-method" type="xsd:string" use="optional"/>
        </xsd:complexType>
    </xsd:element>   
    
	<xsd:element name="bean">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="identifiedType">
					<xsd:group ref="beanElements" />
					<xsd:attributeGroup ref="beanAttributes" />
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="constructor-arg" type="argumentType"/>
	
	<xsd:element name="method-arg" type="argumentType"/>
	
	<xsd:complexType name="argumentType">
		<xsd:sequence>
			<xsd:element ref="description" minOccurs="0"/>
			<xsd:choice minOccurs="0" maxOccurs="1">
				<xsd:element ref="bean"/>
				<xsd:element ref="ref"/>
				<xsd:element ref="idref"/>
				<xsd:element ref="value"/>
				<xsd:element ref="class"/>
				<xsd:element ref="null"/>
				<xsd:element ref="array"/>
				<xsd:element ref="list"/>
				<xsd:element ref="set"/>
				<xsd:element ref="map"/>
				<xsd:element ref="props"/>
				<xsd:any namespace="##other" processContents="strict"/>
			</xsd:choice>
		</xsd:sequence>
		<xsd:attribute name="type" type="xsd:string"/>
		<xsd:attribute name="ref" type="xsd:string"/>
		<xsd:attribute name="value" type="xsd:string"/>
        <xsd:attribute name="default-value" type="xsd:string"/>
	</xsd:complexType>	

	<xsd:element name="property" type="propertyType"/>

	<xsd:element name="qualifier">
		<xsd:complexType>
			<xsd:attribute name="value" type="xsd:string"/>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="ref">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="xsd:anyType">
					<xsd:attribute name="bean" type="xsd:string"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="idref">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="xsd:anyType">
					<xsd:attribute name="bean" type="xsd:string"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="value">
		<xsd:complexType mixed="true">
			<xsd:choice minOccurs="0" maxOccurs="unbounded"/>
			<xsd:attribute name="type" type="xsd:string"/>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:element name="class">
		<xsd:complexType mixed="true">
			<xsd:choice minOccurs="0" maxOccurs="unbounded"/>
			<xsd:attribute name="type" type="xsd:string"/>
		</xsd:complexType>
	</xsd:element>	

	<xsd:element name="null">
		<xsd:complexType mixed="true">
			<xsd:choice minOccurs="0" maxOccurs="unbounded"/>
		</xsd:complexType>
	</xsd:element>

	<!-- Collection Elements -->
	<xsd:group name="collectionElements">
		<xsd:sequence>
			<xsd:element ref="description" minOccurs="0"/>
			<xsd:choice minOccurs="0" maxOccurs="unbounded">
				<xsd:element ref="bean"/>
				<xsd:element ref="ref"/>
				<xsd:element ref="idref"/>
				<xsd:element ref="value"/>
				<xsd:element ref="class"/>
				<xsd:element ref="null"/>
				<xsd:element ref="array"/>
				<xsd:element ref="list"/>
				<xsd:element ref="set"/>
				<xsd:element ref="map"/>
				<xsd:element ref="props"/>
				<xsd:any namespace="##other" processContents="strict" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:choice>
		</xsd:sequence>
	</xsd:group>

	<xsd:element name="array">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="listOrSetType">
					<xsd:attribute name="merge" default="default" type="defaultable-boolean"/>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="list">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="listOrSetType">
					<xsd:attribute name="merge" default="default" type="defaultable-boolean"/>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="set">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="listOrSetType">
					<xsd:attribute name="merge" default="default" type="defaultable-boolean"/>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="map">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="baseMapType">
					<xsd:attribute name="merge" default="default" type="defaultable-boolean"/>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="entry" type="entryType"/>

	<xsd:element name="props">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="propsType">
					<xsd:attribute name="merge" default="default" type="defaultable-boolean"/>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="key">
		<xsd:complexType>
			<xsd:group ref="collectionElements"/>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="prop">
		<xsd:complexType mixed="true">
			<xsd:choice minOccurs="0" maxOccurs="unbounded"/>
			<xsd:attribute name="key" type="xsd:string" use="required"/>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:element name="bean-list">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="xsd:anyType">
					<xsd:choice minOccurs="0" maxOccurs="unbounded">
						<xsd:element ref="bean" />
						<xsd:element ref="ref" />
						<xsd:element ref="idref" />
					</xsd:choice>
					<xsd:attribute name="type" type="xsd:string" use="required" />
					<xsd:attribute name="qualifier" type="xsd:string" />
					<xsd:attribute name="override" type="xsd:boolean"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:element name="util-list">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="listOrSetType">
					<xsd:attribute name="id" type="xsd:string"/>
					<xsd:attribute name="list-class" type="xsd:string"/>
					<xsd:attribute name="singleton" type="xsd:boolean"/>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="util-set">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="listOrSetType">
					<xsd:attribute name="id" type="xsd:string"/>
					<xsd:attribute name="set-class" type="xsd:string"/>
					<xsd:attribute name="singleton" type="xsd:boolean"/>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="util-map">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="baseMapType">
					<xsd:attribute name="id" type="xsd:string"/>
					<xsd:attribute name="map-class" type="xsd:string"/>
					<xsd:attribute name="singleton" type="xsd:boolean"/>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>			
	
	<xsd:element name="invoke" type="invokeType"/>
	
	<xsd:complexType name="invokeType">
		<xsd:sequence>
			<xsd:choice minOccurs="0" maxOccurs="unbounded">
				<xsd:element ref="method-arg"/>
				<xsd:any namespace="##other" processContents="strict" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:choice>
		</xsd:sequence>
		<xsd:attribute name="method" type="xsd:string" use="required"/>
	</xsd:complexType>
	
	<xsd:complexType name="typeDefType">
		<xsd:attribute name="type" type="xsd:string" use="required"/>
		<xsd:attribute name="name" type="xsd:string" use="optional"/>
		<xsd:attribute name="primary" type="xsd:boolean" use="optional"/>
        <xsd:attribute name="override" type="xsd:boolean" use="optional"/>
	</xsd:complexType>

	<xsd:complexType name="factoryDefType">
		<xsd:attribute name="target-type" type="xsd:string" use="required" />
	</xsd:complexType>

	<xsd:complexType name="propertyType">
		<xsd:sequence>
			<xsd:element ref="description" minOccurs="0" />
			<xsd:choice minOccurs="0" maxOccurs="1">
				<xsd:element ref="bean" />
				<xsd:element ref="ref" />
				<xsd:element ref="idref" />
				<xsd:element ref="value" />
				<xsd:element ref="null" />
				<xsd:element ref="array" />
				<xsd:element ref="list"/>
				<xsd:element ref="set"/>
				<xsd:element ref="map"/>
				<xsd:element ref="props" />
				<xsd:any namespace="##other" processContents="strict" />
			</xsd:choice>
		</xsd:sequence>
		<xsd:attribute name="name" type="xsd:string" use="required"/>
		<xsd:attribute name="ref" type="xsd:string"/>
		<xsd:attribute name="value" type="xsd:string"/>
		<xsd:attribute name="default-value" type="xsd:string"></xsd:attribute>
		<xsd:attribute name="if" type="xsd:string"></xsd:attribute>
		<xsd:attribute name="if-profile" use="optional" type="xsd:string"/>
	</xsd:complexType>

	<!-- Collection Types -->

	<!-- base type for collections that have (possibly) typed nested values -->
	<xsd:complexType name="collectionType">
		<xsd:attribute name="value-type" type="xsd:string"/>
	</xsd:complexType>

	<!-- 'list' and 'set' collection type -->
	<xsd:complexType name="listOrSetType">
		<xsd:complexContent>
			<xsd:extension base="collectionType">
				<xsd:group ref="collectionElements"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<!-- 'map' element type -->
	<xsd:complexType name="baseMapType">
		<xsd:complexContent>
			<xsd:extension base="collectionType">
				<xsd:sequence>
					<xsd:element ref="description" minOccurs="0"/>
					<xsd:choice minOccurs="0" maxOccurs="unbounded">
						<xsd:element ref="entry"/>
					</xsd:choice>
				</xsd:sequence>
				<xsd:attribute name="key-type" type="xsd:string"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<!-- 'entry' element type -->
	<xsd:complexType name="entryType">
		<xsd:sequence>
			<xsd:element ref="key" minOccurs="0"/>
			<xsd:group ref="collectionElements"/>
		</xsd:sequence>
		<xsd:attribute name="key" type="xsd:string"/>
		<xsd:attribute name="key-ref" type="xsd:string"/>
		<xsd:attribute name="value" type="xsd:string"/>
		<xsd:attribute name="value-ref" type="xsd:string"/>
		<xsd:attribute name="value-type" type="xsd:string"/>
	</xsd:complexType>

	<!-- 'props' collection type -->
	<xsd:complexType name="propsType">
		<xsd:complexContent>
			<xsd:extension base="collectionType">
				<xsd:sequence>
					<xsd:choice minOccurs="0" maxOccurs="unbounded">
						<xsd:element ref="prop"/>
					</xsd:choice>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<!-- simple internal types -->
	<xsd:simpleType name="defaultable-boolean">
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="default"/>
			<xsd:enumeration value="true"/>
			<xsd:enumeration value="false"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>