web/api/src/main/resources/META-INF/leap/web/api/description.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--
  ~ /*
  ~  * Copyright 2013 the original author or authors.
  ~  *
  ~  * Licensed under the Apache License, Version 2.0 (the "License");
  ~  * you may not use this file except in compliance with the License.
  ~  * You may obtain a copy of the License at
  ~  *
  ~  *      http://www.apache.org/licenses/LICENSE-2.0
  ~  *
  ~  * Unless required by applicable law or agreed to in writing, software
  ~  * distributed under the License is distributed on an "AS IS" BASIS,
  ~  * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~  * See the License for the specific language governing permissions and
  ~  * limitations under the License.
  ~  */
  -->

<xsd:schema xmlns="http://www.leapframework.org/schema/web/apis/description"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://www.leapframework.org/schema/web/apis/description" elementFormDefault="qualified">

    <xsd:element name="controller">
        <xsd:complexType>
            <xsd:choice minOccurs="0" maxOccurs="unbounded">
                <xsd:element ref="controller"/>
                <xsd:element ref="method" />
                <xsd:element ref="parameter"/>
            </xsd:choice>
            <xsd:attribute name="name" type="xsd:string" use="optional"/>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="method">
        <xsd:complexType>
            <xsd:choice minOccurs="0" maxOccurs="unbounded">
                <xsd:element ref="parameter"/>
            </xsd:choice>
            <xsd:attribute name="name" type="xsd:string" use="required"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="parameter" type="xsd:element">
        <xsd:complexType>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="name" type="xsd:string"/>
                <xsd:attribute name="ref" type="xsd:string"/>
            </xsd:extension>
            <xsd:attribute name="id" type="xsd:string"/>
        </xsd:complexType>

    </xsd:element>
</xsd:schema>