web/api/src/main/resources/META-INF/leap/web/api/description.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--
  ~ /*
  ~  * Copyright 2013 the original author or authors.
  ~  *
  ~  * Licensed under the Apache License, Version 2.0 (the "License");
  ~  * you may not use this file except in compliance with the License.
  ~  * You may obtain a copy of the License at
  ~  *
  ~  *      http://www.apache.org/licenses/LICENSE-2.0
  ~  *
  ~  * Unless required by applicable law or agreed to in writing, software
  ~  * distributed under the License is distributed on an "AS IS" BASIS,
  ~  * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~  * See the License for the specific language governing permissions and
  ~  * limitations under the License.
  ~  */
  -->

<xsd:schema xmlns="http://www.leapframework.org/schema/web/apis/description"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://www.leapframework.org/schema/web/apis/description" elementFormDefault="qualified">

    <xsd:element name="description">
        <xsd:complexType>
            <xsd:choice minOccurs="0" maxOccurs="unbounded">
                <xsd:element ref="controller"/>
                <xsd:element ref="method" />
            </xsd:choice>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="controller">
        <xsd:complexType>
            <xsd:choice minOccurs="0" maxOccurs="unbounded">
                <xsd:element ref="controller"/>
                <xsd:element ref="method" />
            </xsd:choice>
            <xsd:attribute name="name" type="xsd:string" use="required"/>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="method">
        <xsd:complexType>
            <xsd:element name="summary"></xsd:element>
            <xsd:element name="description"></xsd:element>
            <xsd:choice minOccurs="0" maxOccurs="unbounded">
                <xsd:element name="parameter">
                    <xsd:complexType>
                        <xsd:attribute name="name" type="xsd:string"/>
                        <xsd:choice  minOccurs="0" maxOccurs="1">
                            <xsd:element name="description">
                                <xsd:complexType>
                                    <xsd:sequence></xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:choice>
                    </xsd:complexType>
                </xsd:element>
            </xsd:choice>
            <xsd:attribute name="name" type="xsd:string" use="required"/>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>